<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div id="app"></div>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LfPQ5cUAAAAALQqPeHgf60W4rsOw1_fZ2n7SB5Z"></script> -->
    <!-- <script>
      grecaptcha.ready(function() {
        grecaptcha
          .execute('6LfPQ5cUAAAAALQqPeHgf60W4rsOw1_fZ2n7SB5Z', { action: 'admin' })
          .then(function(token) {})
      })
    </script> -->
    <script>
      // Initialize Firebase
      var config = {
        apiKey: 'AIzaSyAJSkFdKc0hSM7rSNc0QwzL-sKveje2xzg',
        authDomain: 'comingdb.firebaseapp.com',
        databaseURL: 'https://comingdb.firebaseio.com',
        projectId: 'comingdb',
        storageBucket: 'comingdb.appspot.com',
        messagingSenderId: '538252761905'
      }
      firebase.initializeApp(config)
    </script>
  </body>
</html>
